// color vars

$primary-color: #f36;
$secondary-color: #323a45;
$tertiary-color: #2f7bbd;
$light-gray-color: #f2f2f2;
$gray-color:#dddddd;
$green-color: #85C342;
$success-color:#a8d587;
$warning-color:#f0ad4e;
$yellow-color:#ffd266;
$text-color: #323a45;
$body-text-color: #8a959e;
$dark-text-color: #323a45;
$black-color:#111111;
$link-color: #2f7bbd;