#footer
	%section
		.container
			.row
				.col-lg-12
					%p.text-center
						Made with
						%i.fa.fa-heart{:style=>"color:#f36;"}
						for the 
						%a{:href=>"http://invisionapp.com"}
							InVision Team
						By 
						%a{:href=>"http://eternalcontrast.com"}
							Alex Lauderdale
