%nav
	.main-nav
		.container
			.pull-left
				%a.logo{:href=>"#"}
			.pull-right
				%ul.list-inline.no-margin-bottom
					%li
						%a{:href=>"home"}
							Home
					%li
						%a{:href=>"home"}
							Updates
