%nav
	.main-nav
		.container
			.pull-left
				%a.logo{:href=>"/"}
			.pull-right
				%ul.list-inline.no-margin-bottom
					%li
						%a{:href=>"/"}
							Home
					%li
						%a{:href=>"/updates"}
							Updates
