;;;
	"title": "Styles"
;;;

%section.invert-section.page-header-section{:style=>"background-image:url('/images/expansions/1/header-bg.png');"}
	.container
		.row
			.col-lg-12.text-center
				%h5
					refinement
				%h1
					transparent PNG support
%section.page-header-image
	.container
		.text-center
			.row
				.col-sm-1
				.col-sm-10
					=image_tag'expansions/1/hero.png', :class=>"img-responsive"
				.col-sm-1
%section
	.container
		.row
			.col-sm-1
			.col-sm-10
				%h3
					The Problem
				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis purus interdum sem elementum, vel luctus nisl pharetra. Phasellus ultrices tempor augue condimentum faucibus. Maecenas porta euismod pretium. Aenean ornare eu eros auctor sodales. Integer sit amet tortor eget est blandit sodales. Nam sit amet felis at magna iaculis condimentum. Phasellus sit amet mi fringilla, volutpat ipsum vitae, malesuada odio. Etiam vitae massa porta, porta lacus ac, euismod nibh. Vivamus non pulvinar lorem.
				%h3
					The Solution
				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis purus interdum sem elementum, vel luctus nisl pharetra. Phasellus ultrices tempor augue condimentum faucibus. Maecenas porta euismod pretium. Aenean ornare eu eros auctor sodales. Integer sit amet tortor eget est blandit sodales. Nam sit amet felis at magna iaculis condimentum. Phasellus sit amet mi fringilla, volutpat ipsum vitae, malesuada odio. Etiam vitae massa porta, porta lacus ac, euismod nibh. Vivamus non pulvinar lorem.
			.col-sm-1
%section.invert-section
	.container
		.row
			.col-lg-12
				=image_tag'expansions/1/hero.png', :class=>"img-responsive"
=partial"/shared/features-nav"

