%section
	.container
		.row
			.col-lg-12
				.text-center
					%h5
						Refinements
					%ul.features-nav.list-unstyled
						%li
							%a{:href=>"/refinements/1"}
								Better Things
						%li
							%a{:href=>"/refinements/2"}
								Improved Email Support
						%li
							%a{:href=>"/refinements/3"}
								Another Awesome
						%li
							%a{:href=>"/refinements/4"}
								Cool Hotness
						%li
							%a{:href=>"/refinements/5"}
								Then the Best
					%h5.margin-top
						Expansions
					%ul.features-nav.list-unstyled
						%li
							%a{:href=>"/expansions/1"}
								Transparent PNG Support
						%li
							%a{:href=>"/expansions/2"}
								Drag & Drop Image Replace
						%li
							%a{:href=>"/expansions/3"}
								Sort Comments By User
						%li
							%a{:href=>"/expansions/4"}
								Revert History
						%li
							%a{:href=>"/expansions/5"}
								Copy/Paste Hotspots
					%a{:href=>"#"}
						View All